main {
    display: flex;
    justify-content: center;
}

h1 {
    width: 740px;
    color: white;
    text-align: center;
    background-color: black;
}

.table1 {
    width: 100px;
    color: white;
    text-align: end;
    background-color: black;
}

td {
    width: 100px;
}

.table1_td {
    width: 60px;
    text-align: end;
}

th {
    color: white;
    background-color: black;
}

.table2 {
    text-align: end;
}